    body {
		font-family: 'Roboto';
    }
    a {
    	color: #f4403b;
    	text-decoration: none;
    }
    a:hover {
    	color: #333;
    	text-decoration: none;
		-webkit-transition: color 0.3s ease-out;
		-moz-transition: color 0.3s ease-out;
		-o-transition: color 0.3s ease-out;
		transition: color 0.3s ease-out;
    }
    
    /*==========================================================
    Стили для навигационной панели
    ==========================================================*/
    
    #sell-button {
    	color: #f7a310 !important;
    }
    #buy-button {
    	color: #29C400 !important;
    }
    #sell-button:hover {
    	color: #F5F7FA !important;
		-webkit-transition: color 0.3s ease-out;
		-moz-transition: color 0.3s ease-out;
		-o-transition: color 0.3s ease-out;
		transition: color 0.3s ease-out;
    }
    #buy-button:hover {
    	color: #F5F7FA !important;
		-webkit-transition: color 0.3s ease-out;
		-moz-transition: color 0.3s ease-out;
		-o-transition: color 0.3s ease-out;
		transition: color 0.3s ease-out;
    }
    #custom-sign-out {
    	color: #333;
    }
    .navbar-custom-top {
    	background-color: #333;
    	margin-bottom: 0;
    	border-color: #333;
    }
    .navbar-custom-buttons {
    	color: #F5F7FA !important;
    	background-color: #333 !important;
    }
    
    /*==========================================================
    Стили для главной страницы
    ==========================================================*/

	.landing .row {
		padding: 45px 0;
	}

	.landing p {
		font-size: 21px;
		padding-top: 10px;
		color: #f4403b;
	}

	@media(max-width: 990px) {
		.landing p {
			padding-top: 0;
		}
	}

	@media(max-width: 768px) {
		.landing p {
			text-align: center;
		}
	}

    .landing-container {
    	background-color: white;
    	padding: 0 10% 15px 10%;
    	margin-bottom: 50px;
    }
    #landing-cta {
    	color: #f4403b;
    	padding: 40px 0;
    	margin: auto;
    	font-size: 20px;
    	width: 75%;
    }
    #landing-cta div {
    	display: inline;
    }
    #landing-cta span {
    	display: inline-block;
    	padding-top: 10px;
    }
    #landing-btn {
    	float: right;
    	color: #f4403b;
		padding: 15px 30px;
		font-size: 18px;
		line-height: 1.3333333;
		border-radius: 6px;
		display: inline-block;
		font-weight: 400;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		border: 1px solid #f4403b;
		text-decoration: none;
		background-color: white;
    }
    #landing-btn:hover {
    	color: white;
    	background-color: #f4403b;
    	-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
    }
    #landing-img {
    	width: 100%;
    }

	/*==========================================================
    Latest Auctions
    ==========================================================*/

	.latest-auctions {
		width: 100%;
		padding: 0 30px 40px 30px;
	}

	.latest-auctions h2 {
		color: #f4403b;
		padding: 30px 20px;
	}

	.latest-auctions a {
		color: #333;
	}

	.latest-auctions .box-auction {
		background-color: white;
		height: 470px;
		padding: 15px 30px;
		border: 1px white solid;
	}

	.latest-auctions .box-auction:hover {
		border: 5px solid #f4403b;
		padding: 5px 20px;
		-webkit-transition: all 0.1s ease-out;
		-moz-transition: all 0.1s ease-out;
		-o-transition: all 0.1s ease-out;
		transition: all 0.1s ease-out;
	}

	.latest-auctions .box-auction:hover h3 {
		color: #f4403b;
	}

	.latest-auctions img{
		width: 100%;
		max-height: 330px;
	}

	@media(max-width: 768px) {
		.latest-auctions .box-auction {
			padding: 15px;
			margin: 15px 0;
			height: 100%;
		}

		.latest-auctions .box-auction:hover {
			padding: 10px;
		}
	}
    
    
    
    /*==========================================================
    Другие стили
    ==========================================================*/
    
    
    .form-wrapper {
    	padding: 0 25px;
    }
    .inside-box {
    	padding: 0 15px 30px 15px;
    }
    .prod-title {
    	font-size: 30px;
    }
    .price {
    	color: #f8bc07;
    	font-size: 25px;
    }
    .timestamp {
    	color: grey;
    	font-style: italic;
    }
    .prod-img {
    	width: 200px;
    	max-height: 300px;
    }
    .btn-my {
    	width: 115px;
    }
    .custom-top-margin {
    	margin-top: 40px;
    }

	.render-nav {
		text-align: center;
		margin: 0 auto;
	}

